.wrapper

  = render 'shared/side_bar'
  
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          tech56
        %ul.main-header__left-box__member-list
          Member : 
          %li.main-header__left-box__member-list__member
            test
      .main-header__edit-btn
        -# = link_to 'Edit', edit_group_path(:id)
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            tmysmmr
          %p.message__upper-info__date
            2019/08/11(Sun) 15:55:24
        %p.message__text
          DB設計中...
    .form
      %form.new_message
        .input-box
          .input-box__text
            type a message
          .input-box__image
            = fa_icon 'image'
            .input-box__image__file
        .submit-btn
          Send